update CustomFields set Position=256 where id=1735 and DepartmentId=1125
update CustomFields set Position=257 where id=1754 and DepartmentId=1125
update CustomFields set Position=258 where id=1755 and DepartmentId=1125
update CustomFields set Position=259 where id=1756 and DepartmentId=1125
update CustomFields set Position=260 where id=1757 and DepartmentId=1125
update CustomFields set Position=261 where id=1758 and DepartmentId=1125
update CustomFields set Position=262 where id=1759 and DepartmentId=1125
update CustomFields set Position=263 where id=1760 and DepartmentId=1125
update CustomFields set Position=264 where id=1764 and DepartmentId=1125
update CustomFields set Position=265 where id=1765 and DepartmentId=1125
update CustomFields set Position=266 where id=1766 and DepartmentId=1125
update CustomFields set Position=267 where id=1767 and DepartmentId=1125
update CustomFields set Position=268 where id=1768 and DepartmentId=1125